.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

#search-area {
    background-color: rgb(240, 242, 239);
}

.input-group {
    width: 50%;
}

#brand {
    color: rgb(247, 92, 47);
}

.search-hr {
    margin: 0;
}

.left-hr {
    border-top: 3px solid rgb(20, 146, 103);
    margin: 0;
}

.navs {
    background-color: rgb(240, 242, 239);
}

.navs .nav-item .nav-link {
    color: rgb(75, 83, 73);
}

.navs .nav-item:hover .nav-link {
    background-color: rgb(75, 83, 73);
    color: #ffffff;
}

.content {
    padding-left: 10%;
    padding-right: 10%;
}

h5, h6 {
    font-weight: 400;
}

.center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 100%;
}

.content .left-area .adv-1 .adv-1-content {
    background-color: rgb(243, 246, 247);
}
.content .left-area .adv-2 .adv-2-content {
    background-color: rgb(243, 246, 247);
}
.content .left-area .adv-3 .adv-3-content {
    background-color: rgb(243, 246, 247);
}

.right-area .side-1 td {
    font-size: 14px;
}
.right-area .side-2 td {
    font-size: 12px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: rgb(20, 146, 103) !important;
    border-color: rgba(20, 146, 103, 0.5) !important;
}
.btn-primary:hover {
    background-color: rgb(67, 168, 133) !important;
}

.btn-outline-primary {
@include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}

.side-2 table {
    color: rgb(20, 146, 103);
}
.table-hover-cells > tbody > tr > th:hover,
.table-hover-cells > tbody > tr > td:hover {
    background-color: rgb(243, 246, 247);
}
.table-hover-rows > tbody > tr:hover,
.table-hover-rows > tbody > tr:hover {
    background-color: rgb(243, 246, 247);
}
