.logo-tomato {
    color: tomato;
}

.content {
    margin: 0 auto;
    min-height: 655px;
}

.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.btn-update{
    background-color:#1B813E;
    color: #FFF;
}
.btn-update:hover{
    color: #FFF;
}

.btn-goto{
    background-color:#5DAC81;
    color: #FFF;
}
.btn-goto:hover{
    color: #FFF;
}