/*.content:before {*/
    /*content: "";*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*z-index: -1;*/

    /*display: block;*/
    /*background-image: url('https://i.scdn.co/image/66ff51342a9b250bf5b998fd0ec8e977671468bc');*/
    /*background-size:cover;*/
    /*width: 100%;*/
    /*height: 100%;*/

    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
/*}*/



.subject-content {
    overflow: auto;
    position: relative;
    color: white;
}

.content p {

}

.content .title {

}

.comment-hr {
    border-top: 1px solid white;
}

a {
    color: #FAD689;
}
a:hover {
    color: #FAD689;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: block;
    background: rgba(0,0,0,.6);
    background-size: cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

@media screen and (min-width: 600px) {
    .subject-content {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media screen and (max-width: 600px) {
    .subject-content {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}
