.color-tomato {
    color: tomato;
}

.profile-image img {
    width: 128px;
}

.user-block {
    margin: 0;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0;
}

table {
    font-size: 12px;
}

.user-block-title {
    padding: 0;
    color: #333;
    border-bottom: 1px solid #ddd;
    background: #eaf1f2;
    height: 25px;
    font-weight: 700;
    line-height: 25px;
}

.list-group-item {
    padding: 3px;
}

.user-hr {
    border-top: 1px dashed rgb(174, 174, 174);
    margin: 0;
}
