.tab-content table .top-item {
    color: rgb(20, 146, 103);
    font-size: 14px;
}
.nav-pills > li > a.active {
    background-color: rgb(20, 146, 103) !important;
    color: white !important;
}

.nav-pills > li > a {
    color: rgb(140, 140, 140) !important;
    font-size: 14px;
}

.ranking {
    color: rgba(140, 140, 140, 0.8);
    font-weight: bolder;
    font-size: 18px;
}
